In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_excel('merged_data_kim.xlsx')
df1.head()

,Название игры,Ресторан,Дата,День недели,Номер пакета,Название команды,Баллы,Место
0,[кино и музыка] SPB #88,Хали-Гали,26.06,Вс,1,Последнее место,69.0,1
1,[кино и музыка] SPB #88,Хали-Гали,26.06,Вс,1,Золотой Состав Виагры,63.5,2
2,[кино и музыка] SPB #88,Хали-Гали,26.06,Вс,1,Игътибар,61.5,3
3,[кино и музыка] SPB #88,Хали-Гали,26.06,Вс,1,Идеальные незнакомцы,58.5,4
4,[кино и музыка] SPB #88,Хали-Гали,26.06,Вс,1,Теленок несмышленый губами ищет мамки вымя,58.0,5

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5765 entries, 0 to 5764
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Название игры     5765 non-null   object
 1   Ресторан          5765 non-null   object
 2   Дата              5765 non-null   float64
 3   День недели       5765 non-null   object
 4   Номер пакета      5765 non-null   int64
 5   Название команды  5765 non-null   object
 6   Баллы             5765 non-null   float64
 7   Место             5765 non-null   int64
dtypes: float64(2), int64(2), object(4)
memory usage: 360.4+ KB

In [4]:
df2 = pd.read_excel('merged_data_thematic_kim.xlsx')
df2.head()

,Название игры,Ресторан,Дата,День недели,Номер пакета,Название команды,Баллы,Место
0,[music party] SPB #8,Rossi's Club,4.11,Пт,1,TradeZone,75.0,1
1,[music party] SPB #8,Rossi's Club,4.11,Пт,1,"""Epic Fail""",74.0,2
2,[music party] SPB #8,Rossi's Club,4.11,Пт,1,Унаги,72.0,3
3,[music party] SPB #8,Rossi's Club,4.11,Пт,1,Шальные кирпичи,70.0,4
4,[music party] SPB #8,Rossi's Club,4.11,Пт,1,Сиси Кхалиси,70.0,5

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4313 entries, 0 to 4312
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Название игры     4313 non-null   object
 1   Ресторан          4313 non-null   object
 2   Дата              4313 non-null   float64
 3   День недели       4313 non-null   object
 4   Номер пакета      4313 non-null   int64
 5   Название команды  4313 non-null   object
 6   Баллы             4313 non-null   float64
 7   Место             4313 non-null   int64
dtypes: float64(2), int64(2), object(4)
memory usage: 269.7+ KB

In [6]:
df = pd.concat([df1,df2])
df.head()

,Название игры,Ресторан,Дата,День недели,Номер пакета,Название команды,Баллы,Место
0,[кино и музыка] SPB #88,Хали-Гали,26.06,Вс,1,Последнее место,69.0,1
1,[кино и музыка] SPB #88,Хали-Гали,26.06,Вс,1,Золотой Состав Виагры,63.5,2
2,[кино и музыка] SPB #88,Хали-Гали,26.06,Вс,1,Игътибар,61.5,3
3,[кино и музыка] SPB #88,Хали-Гали,26.06,Вс,1,Идеальные незнакомцы,58.5,4
4,[кино и музыка] SPB #88,Хали-Гали,26.06,Вс,1,Теленок несмышленый губами ищет мамки вымя,58.0,5

In [150]:
data_dict = {}

# Получение уникальных названий команд
unique_teams = df1['Название команды'].unique()

# Итерация по уникальным командам
for team in unique_teams:
    # Фильтрация данных для текущей команды
    team_data = df1[df1['Название команды'] == team].copy()
    # Удаление столбца с названием команды, чтобы он не дублировался внутри каждого подфрейма
    team_data.drop(columns=['Название команды'], inplace=True)
    # Сохранение подфрейма в словаре, используя название команды в качестве ключа
    data_dict[team] = team_data

In [8]:
games_per_restaurant = df.pivot_table(index='Название команды', columns='Ресторан', aggfunc='size', fill_value=0)

# Подсчет количества игр в каждом ресторане, где место было больше 6
games_per_restaurant_over_6 = df[df['Место'] < 6].pivot_table(index='Название команды', columns='Ресторан', aggfunc='size', fill_value=0)

# Подсчет количества игр в каждый день недели для каждого ресторана
games_per_weekday_per_restaurant = df.pivot_table(index='Название команды', columns='День недели', aggfunc='size', fill_value=0)

# Подсчет количества игр в каждый день недели, где место было больше 6, для каждого ресторана
games_per_weekday_over_6_per_restaurant = df[df['Место'] < 6].pivot_table(index='Название команды', columns='День недели', aggfunc='size', fill_value=0)

games_per_package = df.pivot_table(index='Название команды', columns='Номер пакета', aggfunc='size', fill_value=0)

# Подсчет количества игр в каждый день недели, где место было больше 6, для каждого ресторана
games_per_package_over_6 = df[df['Место'] == 1].pivot_table(index='Название команды', columns='Номер пакета', aggfunc='size', fill_value=0)

# Объединение всех таблиц
final_df = pd.concat([games_per_restaurant, games_per_restaurant_over_6, games_per_weekday_per_restaurant, games_per_weekday_over_6_per_restaurant, games_per_package, games_per_package_over_6], axis=1)

In [9]:
team_info = final_df.loc['Funny cucumber']
print(team_info)

PALMA                 0.0
Puberty              22.0
Rossi's Club          0.0
The Legends           3.0
VOKZAL 1853           4.0
Дворец Олимпия        1.0
Ресторан ParkKing     3.0
Руки ВВерх! Бар       0.0
Хали-Гали            13.0
ЦИНЬ                  0.0
PALMA                 0.0
Puberty               7.0
Rossi's Club          0.0
The Legends           2.0
VOKZAL 1853           2.0
Дворец Олимпия        0.0
Ресторан ParkKing     0.0
Руки ВВерх! Бар       0.0
Хали-Гали             6.0
ЦИНЬ                  0.0
Вс                   12.0
Вт                    8.0
Пн                    0.0
Пт                    2.0
Сб                   13.0
Ср                    6.0
Чт                    5.0
Вс                    5.0
Вт                    2.0
Пн                    0.0
Пт                    0.0
Сб                    4.0
Ср                    5.0
Чт                    1.0
1                    21.0
2                    12.0
3                    11.0
4                     2.0
5                     0.0
6                     0.0
1                     0.0
2                     1.0
3                     0.0
4                     0.0
5                     0.0
6                     0.0
Name: Funny cucumber, dtype: float64

In [10]:
team_info = final_df.loc['Золотой Состав Виагры']
print(team_info)

PALMA                0.0
Puberty              4.0
Rossi's Club         0.0
The Legends          0.0
VOKZAL 1853          2.0
Дворец Олимпия       0.0
Ресторан ParkKing    1.0
Руки ВВерх! Бар      0.0
Хали-Гали            7.0
ЦИНЬ                 0.0
PALMA                0.0
Puberty              4.0
Rossi's Club         0.0
The Legends          0.0
VOKZAL 1853          2.0
Дворец Олимпия       0.0
Ресторан ParkKing    1.0
Руки ВВерх! Бар      0.0
Хали-Гали            7.0
ЦИНЬ                 0.0
Вс                   4.0
Вт                   3.0
Пн                   1.0
Пт                   1.0
Сб                   1.0
Ср                   3.0
Чт                   1.0
Вс                   4.0
Вт                   3.0
Пн                   1.0
Пт                   1.0
Сб                   1.0
Ср                   3.0
Чт                   1.0
1                    2.0
2                    3.0
3                    7.0
4                    2.0
5                    0.0
6                    0.0
1                    1.0
2                    0.0
3                    4.0
4                    2.0
5                    0.0
6                    0.0
Name: Золотой Состав Виагры, dtype: float64

In [11]:
games_per_package = df.pivot_table(index='Название команды', columns='Номер пакета', aggfunc='size', fill_value=0)

games_per_package_top_5 = df[df['Место'] <= 5].pivot_table(index='Название команды', columns='Номер пакета', aggfunc='size', fill_value=0)

games_per_package_top_1 = df[df['Место'] == 1].pivot_table(index='Название команды', columns='Номер пакета', aggfunc='size', fill_value=0)

# Объединение всех таблиц
df_package = pd.concat([games_per_package, games_per_package_top_5, games_per_package_top_1], axis=1)

In [12]:
df_package.head()

Номер пакета,1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6
Название команды,,,,,,,,,,,,,,,,,,
!интим не предлагать!,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"""Epic Fail""",1,0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
"""А голову ты дома не забыл?""",1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"""И так сойдёт""",1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"""Мы команда""",0,0,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data_dict['Золотой Состав Виагры'].head()

,Название игры,Ресторан,Дата,День недели,Номер пакета,Баллы,Место
1,[кино и музыка] SPB #88,Хали-Гали,26.06,Вс,1,63.5,2
337,[кино и музыка] SPB #91,Puberty,9.08,Вт,2,56.5,5
3018,[кино и музыка] SPB #113,VOKZAL 1853,14.06,Ср,3,65.5,1
3641,[кино и музыка] SPB #117,Puberty,8.08,Вт,3,64.5,1
4129,[кино и музыка] SPB #121,VOKZAL 1853,4.10,Ср,1,70.0,1

In [14]:
data_dict['Золотой Состав Виагры'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 1 to 3644
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Название игры  14 non-null     object
 1   Ресторан       14 non-null     object
 2   Дата           14 non-null     float64
 3   День недели    14 non-null     object
 4   Номер пакета   14 non-null     int64
 5   Баллы          14 non-null     float64
 6   Место          14 non-null     int64
dtypes: float64(2), int64(2), object(3)
memory usage: 896.0+ bytes

In [15]:
viagra = data_dict['Золотой Состав Виагры'].drop(['Дата', 'Баллы'], axis=1)

In [16]:
viagra_clear = viagra.drop(['Название игры', 'Ресторан', 'День недели'], axis=1)

In [17]:
viagra_clear.head()

      Номер пакета  Место
1                1      2
337              2      5
3018             3      1
3641             3      1
4129             1      1

In [18]:
viagra_package = viagra_clear.groupby('Номер пакета').agg({'Место': [('Всего игр', lambda x: x.count()),
                                                        ('Топ 5', lambda x: (x <= 5).sum()),
                                                        ('Топ 1', lambda x: (x == 1).sum())]})

In [19]:
viagra_package.rename({'Место': 'Золотой Состав Виагры'}, axis=1)

             Золотой Состав Виагры
                         Всего игр Топ 5 Топ 1
Номер пакета
1                                2     2     1
2                                3     3     0
3                                7     7     4
4                                2     2     2

In [20]:
funny_cucumber_package =  data_dict['Funny cucumber'].groupby('Номер пакета').agg({'Место': [('Всего игр', lambda x: x.count()),
                                                        ('Топ 5', lambda x: (x <= 5).sum()),
                                                        ('Топ 1', lambda x: (x == 1).sum())]})

In [21]:
funny_cucumber_package.rename({'Место': 'Funny cucumber'}, axis=1)

             Funny cucumber
                  Всего игр Топ 5 Топ 1
Номер пакета
1                        21     9     0
2                        12     2     1
3                        11     5     0
4                         2     1     0

In [22]:
data_dict['Funny cucumber']['День недели'].value_counts()

Сб    13
Вс    12
Вт     8
Ср     6
Чт     5
Пт     2
Name: День недели, dtype: int64

In [23]:
games_with_funny_cucumber = df[df['Название команды']=='Funny cucumber'][['Название игры', 'Номер пакета']]
games_with_funny_cucumber.head(15)

                         Название игры  Номер пакета
1481  Кино и музыка [новички] SPB #102             1
1586  Кино и музыка [новички] SPB #103             1
1814          [кино и музыка] SPB #104             3
1968  Кино и музыка [новички] SPB #106             1
2099  Кино и музыка [новички] SPB #107             1
2309  Кино и музыка [новички] SPB #108             1
2590  Кино и музыка [новички] SPB #110             1
2726  Кино и музыка [новички] SPB #111             1
2902  Кино и музыка [новички] SPB #112             1
3072  Кино и музыка [новички] SPB #113             1
3152          [кино и музыка] SPB #114             2
3328          [кино и музыка] SPB #115             1
3545          [кино и музыка] SPB #116             4
3655          [кино и музыка] SPB #117             3
3744          [кино и музыка] SPB #118             2

In [24]:
games_noy =games_with_funny_cucumber[games_with_funny_cucumber['Название игры'].isin(df['Название игры'])]
games_noy.head()

                         Название игры  Номер пакета
1481  Кино и музыка [новички] SPB #102             1
1586  Кино и музыка [новички] SPB #103             1
1814          [кино и музыка] SPB #104             3
1968  Кино и музыка [новички] SPB #106             1
2099  Кино и музыка [новички] SPB #107             1

In [25]:
merged_df = pd.merge(games_with_funny_cucumber, df, on=['Название игры','Номер пакета'], how='left')
merged_df.head()

,Название игры,Номер пакета,Ресторан,Дата,День недели,Название команды,Баллы,Место
0,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Ролик содержит сцены Василия,56.5,1
1,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Купчинский душитель,52.0,2
2,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Фанатки Алексея Селюжицкого,50.5,3
3,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Помор в Ярославле,48.5,4
4,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,"Взболтать, но не смешивать",47.0,5

In [26]:
merged_df['Название команды'].value_counts().head(20)

Funny cucumber                46
Камю ин ё Кант                14
Лучшее место                  14
La La Band                    12
FullHouse!                    11
Broforce                      10
1?=!                          10
Гравицапа                      9
Игътибар                       9
Ракета                         9
Казан Поли                     9
Зайчатки разума                8
Промахи Макконахи              8
Последнее место                8
Истина в пиве, короче...       7
Ласка магия черного            7
Барби-колясочница              7
Взболтать, но не смешивать     7
По(НА)ехавшие                  7
Don't stop me MEOOOW           6
Name: Название команды, dtype: int64

In [27]:
games_with_funny_cucumber_only_kim = df1[df1['Название команды']=='Funny cucumber'][['Название игры', 'Номер пакета']]
games_with_funny_cucumber_only_kim_all_team = pd.merge(games_with_funny_cucumber_only_kim, df1, on=['Название игры','Номер пакета'], how='left')

games_with_funny_cucumber_kim = df[df['Название команды']=='Funny cucumber'][['Название игры', 'Номер пакета']]
games_with_funny_cucumber_kim_all_team = pd.merge(games_with_funny_cucumber_kim, df, on=['Название игры','Номер пакета'], how='left')

In [28]:
funny_cucumber_ranks = games_with_funny_cucumber_only_kim_all_team[games_with_funny_cucumber_only_kim_all_team['Название команды'] == 'Funny cucumber'].groupby('Название игры')['Место'].min()

# Создаем столбец, определяющий, заняла ли каждая команда место выше чем "Funny cucumber" в каждой игре
games_with_funny_cucumber_only_kim_all_team['Место выше, чем Funny cucumber в каждой игре'] = games_with_funny_cucumber_only_kim_all_team.apply(lambda row: row['Место'] < funny_cucumber_ranks[row['Название игры']], axis=1).astype(int)

In [29]:
games_with_funny_cucumber_only_kim_all_team.head(50)

,Название игры,Номер пакета,Ресторан,Дата,День недели,Название команды,Баллы,Место,"Место выше, чем Funny cucumber в каждой игре"
0,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Ролик содержит сцены Василия,56.5,1,1
1,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Купчинский душитель,52.0,2,1
2,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Фанатки Алексея Селюжицкого,50.5,3,1
3,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Помор в Ярославле,48.5,4,1
4,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,"Взболтать, но не смешивать",47.0,5,1
5,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,На ход ноги,46.0,6,1
6,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,А я говорила!,46.0,7,1
7,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Ты шо не сдох?,45.0,8,1
8,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Миндальная связь,44.0,9,1
9,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Николай,40.0,10,1
10,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Половина пингвина,40.0,11,1
11,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,You know nothing,37.0,12,1
12,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Со своими очками,36.5,13,1
13,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Кыли Кыли,32.0,14,1
14,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Крепкий орешек,31.5,15,1
15,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Умнички,29.5,16,1
16,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Казахи в здании,29.0,17,1
17,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Синдром самозванца,28.5,18,1
18,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Курочки на выезде,26.5,19,1
19,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Сибирские морозы,19.5,20,1
20,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Funny cucumber,18.0,21,0
21,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Во все тяжкие,18.0,22,0
22,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Мозговая пассивность,14.5,23,0
23,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,"Да знаем, просто забыли",12.5,24,0
24,Кино и музыка [новички] SPB #102,1,Puberty,7.01,Сб,Маньяки,12.0,25,0
25,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,"Взболтать, но не смешивать",59.0,1,1
26,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,А я говорила!,51.5,2,1
27,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Выживут только любовницы,51.0,3,1
28,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Чашка депрессо,51.0,4,1
29,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Стошаговназад,51.0,5,1
30,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Боря от ума,47.0,6,1
31,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,ХиХиГС,45.5,7,1
32,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Я-Error,45.5,8,1
33,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Казан Поли,45.0,9,1
34,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Грамм Философского Камня,44.5,10,1
35,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Вазе де нозес,44.5,11,1
36,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Маховик Бремени,44.0,12,1
37,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Понтий Пилатес,42.5,13,1
38,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Агата Квизти,41.0,14,1
39,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,"Борода,усы,прокрастинация.",40.5,15,1
40,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Нанокад дьявола,40.5,16,1
41,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Лехава,38.0,17,1
42,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Funny cucumber,38.0,18,0
43,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Пожиратели Смекты,35.5,19,0
44,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Чертоги Разума,35.5,20,0
45,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,ОПГ Морские Котики,34.5,21,0
46,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Тендери$тки,34.0,22,0
47,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,"Ой, ой, Рулевой",34.0,23,0
48,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Талант расплавил печи,32.5,24,0
49,Кино и музыка [новички] SPB #103,1,Хали-Гали,21.01,Сб,Репродуцирование Запрещено,32.0,25,0

In [30]:
games_with_funny_cucumber_only_kim_all_team.groupby('Название команды').agg({'Место выше, чем Funny cucumber в каждой игре': 'sum'})['Место выше, чем Funny cucumber в каждой игре']

Название команды
#Япьяная                   0
#качкивгороде              0
(.)(.)                     0
18-                        0
1?=!                       5
                          ..
одногрустники              0
отчаянные не содержанки    0
синяя вечность             0
тест                       0
улитки в баре              0
Name: Место выше, чем Funny cucumber в каждой игре, Length: 672, dtype: int32

In [31]:
connect_games = games_with_funny_cucumber_only_kim_all_team['Название команды'].value_counts().reset_index()
connect_games.columns = ['Название команды', 'Вместе сыгранных игр из 46']
hghr = games_with_funny_cucumber_only_kim_all_team.groupby('Название команды').agg({'Место выше, чем Funny cucumber в каждой игре': 'sum'})
connect_games = connect_games.merge(hghr, left_on='Название команды', right_index=True)
connect_games = connect_games.loc[1:]
connect_games = connect_games.rename({'Место выше, чем Funny cucumber в каждой игре': 'Сколько раз выше Funny cucumber'}, axis=1)
connect_games.head(20)

,Название команды,Вместе сыгранных игр из 46,Сколько раз выше Funny cucumber
1,FullHouse!,9,3
2,Камю ин ё Кант,8,6
3,Ракета,8,7
4,Игътибар,7,5
5,Лучшее место,7,6
6,Broforce,6,6
7,"Взболтать, но не смешивать",6,4
8,Барби-колясочница,5,2
9,Казан Поли,5,1
10,La La Band,5,5
11,Промахи Макконахи,5,4
12,Don't stop me MEOOOW,5,0
13,1?=!,5,5
14,"Истина в пиве, короче...",5,2
15,Daft Punk покинул чат,4,1
16,Нас подкинули,4,2
17,El Paso,4,1
18,bikini bottom,4,2
19,Во всем виноват Тиндер,4,3
20,Рик верни парик,4,0

In [157]:
kamu_in_package =  data_dict['Камю ин ё Кант'].groupby('Номер пакета').agg({'Место': [('Всего игр', lambda x: x.count()),
                                                        ('Топ 5', lambda x: (x <= 5).sum()),
                                                        ('Топ 1', lambda x: (x == 1).sum())]})

In [158]:
kamu_in_package.rename({'Место': 'Камю ин ё Кант'}, axis=1)

             Камю ин ё Кант
                  Всего игр Топ 5 Топ 1
Номер пакета
1                        17     6     0
2                        13     5     0
3                        11     8     0

In [159]:
lalaband_package =  data_dict['La La Band'].groupby('Номер пакета').agg({'Место': [('Всего игр', lambda x: x.count()),
                                                        ('Топ 5', lambda x: (x <= 5).sum()),
                                                        ('Топ 1', lambda x: (x == 1).sum())]})
lalaband_package.rename({'Место': 'La La Band'}, axis=1)

             La La Band
              Всего игр Топ 5 Топ 1
Номер пакета
1                    14    12     4
2                    12    10     2
3                    17    16     9

In [160]:
best_place_package =  data_dict['Лучшее место'].groupby('Номер пакета').agg({'Место': [('Всего игр', lambda x: x.count()),
                                                        ('Топ 5', lambda x: (x <= 5).sum()),
                                                        ('Топ 1', lambda x: (x == 1).sum())]})
best_place_package.rename({'Место': 'Лучшее место'}, axis=1)

             Лучшее место
                Всего игр Топ 5 Топ 1
Номер пакета
1                      15     9     1
2                      12     8     1
3                       5     5     0
4                       1     1     0

In [161]:
package_together = pd.merge(funny_cucumber_package, best_place_package, on='Номер пакета',  how='outer')
package_together = pd.merge(package_together, kamu_in_package, on='Номер пакета',  how='outer')
package_together = pd.merge(package_together, viagra_package, on='Номер пакета',  how='outer')

C:\Users\User\AppData\Local\Temp\ipykernel_16980\208712594.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {('Место_x', 'Всего игр'), ('Место_x', 'Топ 5'), ('Место_x', 'Топ 1')} in the result is deprecated and will raise a MergeError in a future version.
  package_together = pd.merge(package_together, viagra_package, on='Номер пакета',  how='outer')

ValueError: cannot handle a non-unique multi-index!

In [37]:
package_together.head()

               Место_x               Место_y               Место_x        \
             Всего игр Топ 5 Топ 1 Всего игр Топ 5 Топ 1 Всего игр Топ 5
Номер пакета
1                   21     9     0        24    12     2        37    14
2                   12     2     1        23    11     1        26     8
3                   11     5     0         6     6     0        20    15
4                    2     1     0         2     1     0         2     1

                     Место_y
             Топ 1 Всего игр Топ 5 Топ 1
Номер пакета
1                2         2     2     1
2                0         3     3     0
3                3         7     7     4
4                1         2     2     2

In [162]:
package_together_concat = pd.concat([best_place_package, lalaband_package, kamu_in_package, viagra_package, funny_cucumber_package], axis=1).fillna(0)
package_together_concat.head()

                 Место                                                    \
             Всего игр Топ 5 Топ 1 Всего игр Топ 5 Топ 1 Всего игр Топ 5
Номер пакета
1                   15     9     1      14.0  12.0   4.0      17.0   6.0
2                   12     8     1      12.0  10.0   2.0      13.0   5.0
3                    5     5     0      17.0  16.0   9.0      11.0   8.0
4                    1     1     0       0.0   0.0   0.0       0.0   0.0


             Топ 1 Всего игр Топ 5 Топ 1 Всего игр Топ 5 Топ 1
Номер пакета
1              0.0         2     2     1        21     9     0
2              0.0         3     3     0        12     2     1
3              0.0         7     7     4        11     5     0
4              0.0         2     2     2         2     1     0

In [163]:
new_names = ['Лучшее место']*3+ ['La La Band'] *3 + ['Камю ин ё Кант']*3+ ['Золотой Состав Виагры']*3+ ['Funny cucuber']*3
   
print(new_names)

['Лучшее место', 'Лучшее место', 'Лучшее место', 'La La Band', 'La La Band', 'La La Band', 'Камю ин ё Кант', 'Камю ин ё Кант', 'Камю ин ё Кант', 'Золотой Состав Виагры', 'Золотой Состав Виагры', 'Золотой Состав Виагры', 'Funny cucuber', 'Funny cucuber', 'Funny cucuber']

In [164]:
new_index_tuples = [(new_names[i], new_names[i+1], new_names[i+2]) for i in range(0, len(new_names), 3)]
print(new_index_tuples)

[('Лучшее место', 'Лучшее место', 'Лучшее место'), ('La La Band', 'La La Band', 'La La Band'), ('Камю ин ё Кант', 'Камю ин ё Кант', 'Камю ин ё Кант'), ('Золотой Состав Виагры', 'Золотой Состав Виагры', 'Золотой Состав Виагры'), ('Funny cucuber', 'Funny cucuber', 'Funny cucuber')]

In [165]:
package_together_concat.columns = pd.MultiIndex.from_tuples([(new_names[i], col[1]) for i, col in enumerate(package_together_concat.columns)])

In [166]:
unique_games_per_package = df1.groupby(['Дата', 'Ресторан', 'День недели', 'Название игры', 'Номер пакета']).size().groupby('Номер пакета').size()
df_unique_games_per_package = pd.DataFrame(unique_games_per_package, columns=pd.MultiIndex.from_tuples([('КиМ', 'Всего игр')]))
df_unique_games_per_package.head()

                   КиМ
             Всего игр
Номер пакета
1                   80
2                   44
3                   39
4                    9

In [167]:
package_with_kim = pd.merge(df_unique_games_per_package, package_together_concat, on='Номер пакета', how = 'outer').fillna(0).astype(int)
package_with_kim_sorted = package_with_kim.sort_values(by=[('КиМ', 'Всего игр')], ascending=False)
package_with_kim_sorted.head(12)

                   КиМ Лучшее место             La La Band              \
             Всего игр    Всего игр Топ 5 Топ 1  Всего игр Топ 5 Топ 1
Номер пакета
1                   80           15     9     1         14    12     4
2                   44           12     8     1         12    10     2
3                   39            5     5     0         17    16     9
4                    9            1     1     0          0     0     0

             Камю ин ё Кант             Золотой Состав Виагры              \
                  Всего игр Топ 5 Топ 1             Всего игр Топ 5 Топ 1
Номер пакета
1                        17     6     0                     2     2     1
2                        13     5     0                     3     3     0
3                        11     8     0                     7     7     4
4                         0     0     0                     2     2     2

             Funny cucuber
                 Всего игр Топ 5 Топ 1
Номер пакета
1                       21     9     0
2                       12     2     1
3                       11     5     0
4                        2     1     0

In [44]:
unique_games_per_day = df.groupby(['Дата', 'День недели', 'Название игры', 'Номер пакета']).size().groupby('День недели').size()
df_unique_games_per_day = pd.DataFrame(unique_games_per_day, columns=pd.MultiIndex.from_tuples([('Ким', 'Всего игр')]))
df_unique_games_per_day.head()

                  Ким
            Всего игр
День недели
Вс                 93
Вт                 46
Пн                  7
Пт                 28
Сб                 78

In [151]:
viagra_days = data_dict['Золотой Состав Виагры'].groupby('День недели').agg({'Место': [('Всего игр', lambda x: x.count()),
                                                        ('Топ 5', lambda x: (x <= 5).sum()),
                                                        ('Топ 1', lambda x: (x == 1).sum())]})
best_place_days = data_dict['Лучшее место'].groupby('День недели').agg({'Место': [('Всего игр', lambda x: x.count()),
                                                        ('Топ 5', lambda x: (x <= 5).sum()),
                                                        ('Топ 1', lambda x: (x == 1).sum())]})
Lalaband_days = data_dict['La La Band'].groupby('День недели').agg({'Место': [('Всего игр', lambda x: x.count()),
                                                        ('Топ 5', lambda x: (x <= 5).sum()),
                                                        ('Топ 1', lambda x: (x == 1).sum())]})
kamuin_days = data_dict['Камю ин ё Кант'].groupby('День недели').agg({'Место': [('Всего игр', lambda x: x.count()),
                                                        ('Топ 5', lambda x: (x <= 5).sum()),
                                                        ('Топ 1', lambda x: (x == 1).sum())]})
funny_cucumber_days = data_dict['Funny cucumber'].groupby('День недели').agg({'Место': [('Всего игр', lambda x: x.count()),
                                                        ('Топ 5', lambda x: (x <= 5).sum()),
                                                        ('Топ 1', lambda x: (x == 1).sum())]})

In [152]:
days_together_concat = pd.concat([best_place_days, Lalaband_days, kamuin_days, viagra_days, funny_cucumber_days], axis=1).fillna(0)
days_together_concat.columns = pd.MultiIndex.from_tuples([(new_names[i], col[1]) for i, col in enumerate(days_together_concat.columns)])
days_together_concat.head()

            Лучшее место             La La Band             Камю ин ё Кант  \
               Всего игр Топ 5 Топ 1  Всего игр Топ 5 Топ 1      Всего игр
День недели
Вс                  18.0  13.0   1.0       19.0  15.0   5.0           31.0
Вт                   6.0   3.0   0.0       11.0  11.0   3.0            5.0
Пн                   1.0   1.0   0.0        1.0   1.0   1.0            1.0
Сб                   7.0   6.0   1.0        7.0   7.0   5.0            2.0
Чт                   1.0   0.0   0.0        0.0   0.0   0.0            0.0

                        Золотой Состав Виагры             Funny cucuber        \
            Топ 5 Топ 1             Всего игр Топ 5 Топ 1     Всего игр Топ 5
День недели
Вс           12.0   0.0                   4.0   4.0   1.0           9.0   4.0
Вт            3.0   0.0                   2.0   2.0   1.0           4.0   2.0
Пн            1.0   0.0                   0.0   0.0   0.0           0.0   0.0
Сб            2.0   0.0                   0.0   0.0   0.0           8.0   3.0
Чт            0.0   0.0                   0.0   0.0   0.0           1.0   1.0


            Топ 1
День недели
Вс            0.0
Вт            0.0
Пн            0.0
Сб            0.0
Чт            0.0

In [153]:
days_with_kim = pd.merge(df_unique_games_per_day, days_together_concat, on='День недели', how = 'outer')
weekdays_order = ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']

# Сортируем датафрейм по названию дня недели
days_with_kim_sorted = days_with_kim.reindex(weekdays_order).astype(int)
days_with_kim_sorted.head(9)

                  Ким Лучшее место             La La Band              \
            Всего игр    Всего игр Топ 5 Топ 1  Всего игр Топ 5 Топ 1
День недели
Пн                  7            1     1     0          1     1     1
Вт                 46            6     3     0         11    11     3
Ср                 37            0     0     0          5     4     1
Чт                 34            1     0     0          0     0     0
Пт                 28            0     0     0          0     0     0
Сб                 78            7     6     1          7     7     5
Вс                 93           18    13     1         19    15     5

            Камю ин ё Кант             Золотой Состав Виагры              \
                 Всего игр Топ 5 Топ 1             Всего игр Топ 5 Топ 1
День недели
Пн                       1     1     0                     0     0     0
Вт                       5     3     0                     2     2     1
Ср                       2     1     0                     3     3     3
Чт                       0     0     0                     0     0     0
Пт                       0     0     0                     1     1     1
Сб                       2     2     0                     0     0     0
Вс                      31    12     0                     4     4     1

            Funny cucuber
                Всего игр Топ 5 Топ 1
День недели
Пн                      0     0     0
Вт                      4     2     0
Ср                      5     4     0
Чт                      1     1     0
Пт                      0     0     0
Сб                      8     3     0
Вс                      9     4     0

In [168]:
days_with_kim_sorted.iloc[:,[0,1,4,7,10,13]]

,Ким,Лучшее место,La La Band,Камю ин ё Кант,Золотой Состав Виагры,Funny cucuber
,Всего игр,Всего игр,Всего игр,Всего игр,Всего игр,Всего игр
День недели,,,,,,
Пн,7,1,1,1,0,0
Вт,46,6,11,5,2,4
Ср,37,0,5,2,3,5
Чт,34,1,0,0,0,1
Пт,28,0,0,0,1,0
Сб,78,7,7,2,0,8
Вс,93,18,19,31,4,9

In [154]:
viagra_restaurant = data_dict['Золотой Состав Виагры'].groupby('Ресторан').agg({'Место': [('Всего игр', lambda x: x.count()),
                                                        ('Топ 5', lambda x: (x <= 5).sum()),
                                                        ('Топ 1', lambda x: (x == 1).sum())]})
best_place_restaurant = data_dict['Лучшее место'].groupby('Ресторан').agg({'Место': [('Всего игр', lambda x: x.count()),
                                                        ('Топ 5', lambda x: (x <= 5).sum()),
                                                        ('Топ 1', lambda x: (x == 1).sum())]})
Lalaband_restaurant = data_dict['La La Band'].groupby('Ресторан').agg({'Место': [('Всего игр', lambda x: x.count()),
                                                        ('Топ 5', lambda x: (x <= 5).sum()),
                                                        ('Топ 1', lambda x: (x == 1).sum())]})
kamuin_restaurant = data_dict['Камю ин ё Кант'].groupby('Ресторан').agg({'Место': [('Всего игр', lambda x: x.count()),
                                                        ('Топ 5', lambda x: (x <= 5).sum()),
                                                        ('Топ 1', lambda x: (x == 1).sum())]})
funny_cucumber_restaurant = data_dict['Funny cucumber'].groupby('Ресторан').agg({'Место': [('Всего игр', lambda x: x.count()),
                                                        ('Топ 5', lambda x: (x <= 5).sum()),
                                                        ('Топ 1', lambda x: (x == 1).sum())]})

restaurant_together_concat = pd.concat([best_place_restaurant, Lalaband_restaurant, kamuin_restaurant, viagra_restaurant, funny_cucumber_restaurant], axis=1).fillna(0)
restaurant_together_concat.columns = pd.MultiIndex.from_tuples([(new_names[i], col[1]) for i, col in enumerate(restaurant_together_concat.columns)])
restaurant_together_concat.head()

                  Лучшее место             La La Band              \
                     Всего игр Топ 5 Топ 1  Всего игр Топ 5 Топ 1
Ресторан
Puberty                   20.0  15.0   1.0       20.0  17.0   5.0
Ресторан ParkKing          1.0   0.0   0.0        2.0   2.0   1.0
Хали-Гали                 12.0   8.0   1.0       16.0  15.0   8.0
VOKZAL 1853                0.0   0.0   0.0        5.0   4.0   1.0
The Legends                0.0   0.0   0.0        0.0   0.0   0.0

                  Камю ин ё Кант             Золотой Состав Виагры        \
                       Всего игр Топ 5 Топ 1             Всего игр Топ 5
Ресторан
Puberty                     15.0   8.0   0.0                   3.0   3.0
Ресторан ParkKing            1.0   1.0   0.0                   1.0   1.0
Хали-Гали                   21.0   9.0   0.0                   4.0   4.0
VOKZAL 1853                  3.0   0.0   0.0                   2.0   2.0
The Legends                  1.0   1.0   0.0                   0.0   0.0

                        Funny cucuber
                  Топ 1     Всего игр Топ 5 Топ 1
Ресторан
Puberty             1.0            10     5     0
Ресторан ParkKing   1.0             1     0     0
Хали-Гали           2.0            10     5     0
VOKZAL 1853         2.0             3     2     0
The Legends         0.0             2     2     0

In [155]:
unique_games_per_restaurant = df1.groupby(['Дата', 'Ресторан', 'День недели', 'Название игры', 'Номер пакета']).size().groupby('Ресторан').size()
df_unique_games_per_restaurant = pd.DataFrame(unique_games_per_restaurant, columns=pd.MultiIndex.from_tuples([('Ким', 'Всего игр')]))
df_unique_games_per_restaurant.head(10)

                        Ким
                  Всего игр
Ресторан
PALMA                     1
Puberty                  58
Rossi's Club              1
The Legends               3
VOKZAL 1853              19
Дворец Олимпия            1
Ресторан ParkKing        10
Хали-Гали                75
ЦИНЬ                      4

In [156]:
restaurant_with_kim = pd.merge(df_unique_games_per_restaurant, restaurant_together_concat, on='Ресторан', how = 'outer').fillna(0).astype(int)
restaurant_with_kim_sorted = restaurant_with_kim.sort_values(by=[('Ким', 'Всего игр')], ascending=False)
restaurant_with_kim_sorted.head(12)

                        Ким Лучшее место             La La Band              \
                  Всего игр    Всего игр Топ 5 Топ 1  Всего игр Топ 5 Топ 1
Ресторан
Хали-Гали                75           12     8     1         16    15     8
Puberty                  58           20    15     1         20    17     5
VOKZAL 1853              19            0     0     0          5     4     1
Ресторан ParkKing        10            1     0     0          2     2     1
ЦИНЬ                      4            0     0     0          0     0     0
The Legends               3            0     0     0          0     0     0
PALMA                     1            0     0     0          0     0     0
Rossi's Club              1            0     0     0          0     0     0
Дворец Олимпия            1            0     0     0          0     0     0

                  Камю ин ё Кант             Золотой Состав Виагры        \
                       Всего игр Топ 5 Топ 1             Всего игр Топ 5
Ресторан
Хали-Гали                     21     9     0                     4     4
Puberty                       15     8     0                     3     3
VOKZAL 1853                    3     0     0                     2     2
Ресторан ParkKing              1     1     0                     1     1
ЦИНЬ                           0     0     0                     0     0
The Legends                    1     1     0                     0     0
PALMA                          0     0     0                     0     0
Rossi's Club                   0     0     0                     0     0
Дворец Олимпия                 0     0     0                     0     0

                        Funny cucuber
                  Топ 1     Всего игр Топ 5 Топ 1
Ресторан
Хали-Гали             2            10     5     0
Puberty               1            10     5     0
VOKZAL 1853           2             3     2     0
Ресторан ParkKing     1             1     0     0
ЦИНЬ                  0             0     0     0
The Legends           0             2     2     0
PALMA                 0             0     0     0
Rossi's Club          0             0     0     0
Дворец Олимпия        0             1     0     0

In [76]:
df_top_5 = df1[df1['Место'].isin([5])]

In [77]:
df_top_5.head()

,Название игры,Ресторан,Дата,День недели,Номер пакета,Название команды,Баллы,Место
4,[кино и музыка] SPB #88,Хали-Гали,26.06,Вс,1,Теленок несмышленый губами ищет мамки вымя,58.0,5
43,[кино и музыка] SPB #88,Puberty,29.06,Ср,2,Батут упоротых лисят,56.0,5
76,Кино и музыка [новички] SPB #89,Хали-Гали,9.07,Сб,1,Дилемма,52.5,5
119,[кино и музыка] SPB #89,Хали-Гали,10.07,Вс,1,Broforce,65.0,5
160,[кино и музыка] SPB #89,Хали-Гали,14.07,Чт,2,Wu-punk Clan,53.5,5

In [81]:
def percent_from_78(series):
    return round(series.sum() / 78 * 100,2)

In [82]:
point_in_per_cent = df_top_5.pivot_table(index='Название игры', columns='Номер пакета', values='Баллы', aggfunc=percent_from_78)

In [83]:
point_in_per_cent.head(40)

Номер пакета                  1      2      3      4
Название игры
[кино и музыка] SPB #100  63.46  63.46  71.79    NaN
[кино и музыка] SPB #101  67.31  60.26  63.46  51.28
[кино и музыка] SPB #102  78.21  67.95  63.46    NaN
[кино и музыка] SPB #103  83.97  70.51  61.54    NaN
[кино и музыка] SPB #104  76.92  64.74  77.56    NaN
[кино и музыка] SPB #105  73.08  69.87  67.95    NaN
[кино и музыка] SPB #106  78.85  58.97  69.23    NaN
[кино и музыка] SPB #107  71.79  74.36  67.95    NaN
[кино и музыка] SPB #108  75.64  66.67  62.82    NaN
[кино и музыка] SPB #109  49.36  58.97  57.69    NaN
[кино и музыка] SPB #110  75.64  72.44  77.56    NaN
[кино и музыка] SPB #111  71.79  65.38  62.82    NaN
[кино и музыка] SPB #112  67.95  71.79  57.69  59.62
[кино и музыка] SPB #113  65.38  64.74  65.38    NaN
[кино и музыка] SPB #114  64.74  62.18  73.08  62.18
[кино и музыка] SPB #115  75.64  81.41  51.28    NaN
[кино и музыка] SPB #116  70.51  76.92    NaN  50.00
[кино и музыка] SPB #117  57.05  82.05  70.51    NaN
[кино и музыка] SPB #118  66.67  66.03  66.03  63.46
[кино и музыка] SPB #119  65.38  73.72  83.97    NaN
[кино и музыка] SPB #120  64.10  53.21  57.69    NaN
[кино и музыка] SPB #121  73.72  75.64  69.87    NaN
[кино и музыка] SPB #122  67.95  73.08  74.36    NaN
[кино и музыка] SPB #123  60.90  67.31  63.46  52.56
[кино и музыка] SPB #124  57.69  76.28  72.44    NaN
[кино и музыка] SPB #125  70.51  66.03  69.23  61.54
[кино и музыка] SPB #126  75.64  81.41  69.87  65.38
[кино и музыка] SPB #127  66.03  64.74  63.46    NaN
[кино и музыка] SPB #128  69.23  74.36  62.18    NaN
[кино и музыка] SPB #129  80.77  74.36  79.49    NaN
[кино и музыка] SPB #130  89.74  83.97  80.77    NaN
[кино и музыка] SPB #88   74.36  71.79    NaN    NaN
[кино и музыка] SPB #89   83.33  68.59    NaN    NaN
[кино и музыка] SPB #90   76.92  71.79    NaN    NaN
[кино и музыка] SPB #91   62.18  72.44  54.49    NaN
[кино и музыка] SPB #92   69.87  76.28  83.97    NaN
[кино и музыка] SPB #93   75.00  73.72  70.51    NaN
[кино и музыка] SPB #94   76.92  76.28    NaN    NaN
[кино и музыка] SPB #95   78.85  68.59  76.28    NaN
[кино и музыка] SPB #96   71.15  60.90  67.31    NaN

In [86]:
df_top_1 = df1[df1['Место'].isin([1])]
point_in_per_cent1 = df_top_1.pivot_table(index='Название игры', columns='Номер пакета', values='Баллы', aggfunc=percent_from_78)

In [87]:
point_in_per_cent1.head()

Номер пакета                  1      2      3      4
Название игры
[кино и музыка] SPB #100  78.21  75.00  85.26    NaN
[кино и музыка] SPB #101  76.28  81.41  89.10  74.36
[кино и музыка] SPB #102  89.74  82.05  77.56    NaN
[кино и музыка] SPB #103  96.15  78.21  76.28    NaN
[кино и музыка] SPB #104  89.10  80.13  89.74    NaN

In [119]:
point_in_per_cent_concat =  pd.concat([point_in_per_cent, point_in_per_cent1], axis=1)

point_in_per_cent_concat.head(10)

Номер пакета,1,2,3,4,1,2,3,4
Название игры,,,,,,,,
[кино и музыка] SPB #100,63.46,63.46,71.79,NaN,78.21,75.00,85.26,NaN
[кино и музыка] SPB #101,67.31,60.26,63.46,51.28,76.28,81.41,89.10,74.36
[кино и музыка] SPB #102,78.21,67.95,63.46,NaN,89.74,82.05,77.56,NaN
[кино и музыка] SPB #103,83.97,70.51,61.54,NaN,96.15,78.21,76.28,NaN
[кино и музыка] SPB #104,76.92,64.74,77.56,NaN,89.10,80.13,89.74,NaN
[кино и музыка] SPB #105,73.08,69.87,67.95,NaN,82.05,83.97,88.46,NaN
[кино и музыка] SPB #106,78.85,58.97,69.23,NaN,87.82,75.00,76.28,NaN
[кино и музыка] SPB #107,71.79,74.36,67.95,NaN,84.62,80.13,78.21,NaN
[кино и музыка] SPB #108,75.64,66.67,62.82,NaN,87.82,81.41,78.85,NaN
[кино и музыка] SPB #109,49.36,58.97,57.69,NaN,66.67,74.36,76.28,NaN

In [97]:
point_in_per_cent_concat.columns

Int64Index([1, 2, 3, 4, 1, 2, 3, 4], dtype='int64', name='Номер пакета')

In [120]:
point_in_per_cent_concat.iloc[:,0] = point_in_per_cent_concat.iloc[:,0].astype(str) + ' - ' + point_in_per_cent_concat.iloc[:,4].astype(str)
point_in_per_cent_concat.iloc[:,1] = point_in_per_cent_concat.iloc[:,1].astype(str) + ' - ' + point_in_per_cent_concat.iloc[:,5].astype(str)
point_in_per_cent_concat.iloc[:,2] = point_in_per_cent_concat.iloc[:,2].astype(str) + ' - ' + point_in_per_cent_concat.iloc[:,6].astype(str)
point_in_per_cent_concat.iloc[:,3] = point_in_per_cent_concat.iloc[:,3].astype(str) + ' - ' + point_in_per_cent_concat.iloc[:,7].astype(str)

In [121]:
point_in_per_cent_concat.head(10)

Номер пакета,1,2,3,4,1,2,3,4
Название игры,,,,,,,,
[кино и музыка] SPB #100,63.46 - 78.21,63.46 - 75.0,71.79 - 85.26,nan - nan,78.21,75.00,85.26,NaN
[кино и музыка] SPB #101,67.31 - 76.28,60.26 - 81.41,63.46 - 89.1,51.28 - 74.36,76.28,81.41,89.10,74.36
[кино и музыка] SPB #102,78.21 - 89.74,67.95 - 82.05,63.46 - 77.56,nan - nan,89.74,82.05,77.56,NaN
[кино и музыка] SPB #103,83.97 - 96.15,70.51 - 78.21,61.54 - 76.28,nan - nan,96.15,78.21,76.28,NaN
[кино и музыка] SPB #104,76.92 - 89.1,64.74 - 80.13,77.56 - 89.74,nan - nan,89.10,80.13,89.74,NaN
[кино и музыка] SPB #105,73.08 - 82.05,69.87 - 83.97,67.95 - 88.46,nan - nan,82.05,83.97,88.46,NaN
[кино и музыка] SPB #106,78.85 - 87.82,58.97 - 75.0,69.23 - 76.28,nan - nan,87.82,75.00,76.28,NaN
[кино и музыка] SPB #107,71.79 - 84.62,74.36 - 80.13,67.95 - 78.21,nan - nan,84.62,80.13,78.21,NaN
[кино и музыка] SPB #108,75.64 - 87.82,66.67 - 81.41,62.82 - 78.85,nan - nan,87.82,81.41,78.85,NaN
[кино и музыка] SPB #109,49.36 - 66.67,58.97 - 74.36,57.69 - 76.28,nan - nan,66.67,74.36,76.28,NaN

In [124]:
point_in_per_cent_concat = point_in_per_cent_concat.iloc[:,:4]

In [125]:
point_in_per_cent_concat.head(10)

Номер пакета,1,2,3,4
Название игры,,,,
[кино и музыка] SPB #100,63.46 - 78.21,63.46 - 75.0,71.79 - 85.26,nan - nan
[кино и музыка] SPB #101,67.31 - 76.28,60.26 - 81.41,63.46 - 89.1,51.28 - 74.36
[кино и музыка] SPB #102,78.21 - 89.74,67.95 - 82.05,63.46 - 77.56,nan - nan
[кино и музыка] SPB #103,83.97 - 96.15,70.51 - 78.21,61.54 - 76.28,nan - nan
[кино и музыка] SPB #104,76.92 - 89.1,64.74 - 80.13,77.56 - 89.74,nan - nan
[кино и музыка] SPB #105,73.08 - 82.05,69.87 - 83.97,67.95 - 88.46,nan - nan
[кино и музыка] SPB #106,78.85 - 87.82,58.97 - 75.0,69.23 - 76.28,nan - nan
[кино и музыка] SPB #107,71.79 - 84.62,74.36 - 80.13,67.95 - 78.21,nan - nan
[кино и музыка] SPB #108,75.64 - 87.82,66.67 - 81.41,62.82 - 78.85,nan - nan
[кино и музыка] SPB #109,49.36 - 66.67,58.97 - 74.36,57.69 - 76.28,nan - nan

In [128]:
point_in_per_cent_concat.to_excel('per_cetn_kim.xlsx', index=True)

In [129]:
point_in_per_cent_kim =  pd.read_excel('kim12345.xlsx')
point_in_per_cent_concat.head(10)

Номер пакета,1,2,3,4
Название игры,,,,
[кино и музыка] SPB #100,63.46 - 78.21,63.46 - 75.0,71.79 - 85.26,nan - nan
[кино и музыка] SPB #101,67.31 - 76.28,60.26 - 81.41,63.46 - 89.1,51.28 - 74.36
[кино и музыка] SPB #102,78.21 - 89.74,67.95 - 82.05,63.46 - 77.56,nan - nan
[кино и музыка] SPB #103,83.97 - 96.15,70.51 - 78.21,61.54 - 76.28,nan - nan
[кино и музыка] SPB #104,76.92 - 89.1,64.74 - 80.13,77.56 - 89.74,nan - nan
[кино и музыка] SPB #105,73.08 - 82.05,69.87 - 83.97,67.95 - 88.46,nan - nan
[кино и музыка] SPB #106,78.85 - 87.82,58.97 - 75.0,69.23 - 76.28,nan - nan
[кино и музыка] SPB #107,71.79 - 84.62,74.36 - 80.13,67.95 - 78.21,nan - nan
[кино и музыка] SPB #108,75.64 - 87.82,66.67 - 81.41,62.82 - 78.85,nan - nan
[кино и музыка] SPB #109,49.36 - 66.67,58.97 - 74.36,57.69 - 76.28,nan - nan

In [130]:
point_in_kim12 =  pd.concat([point_in_per_cent, point_in_per_cent1], axis=1)

point_in_kim12.head(10)

Номер пакета,1,2,3,4,1,2,3,4
Название игры,,,,,,,,
[кино и музыка] SPB #100,63.46,63.46,71.79,NaN,78.21,75.00,85.26,NaN
[кино и музыка] SPB #101,67.31,60.26,63.46,51.28,76.28,81.41,89.10,74.36
[кино и музыка] SPB #102,78.21,67.95,63.46,NaN,89.74,82.05,77.56,NaN
[кино и музыка] SPB #103,83.97,70.51,61.54,NaN,96.15,78.21,76.28,NaN
[кино и музыка] SPB #104,76.92,64.74,77.56,NaN,89.10,80.13,89.74,NaN
[кино и музыка] SPB #105,73.08,69.87,67.95,NaN,82.05,83.97,88.46,NaN
[кино и музыка] SPB #106,78.85,58.97,69.23,NaN,87.82,75.00,76.28,NaN
[кино и музыка] SPB #107,71.79,74.36,67.95,NaN,84.62,80.13,78.21,NaN
[кино и музыка] SPB #108,75.64,66.67,62.82,NaN,87.82,81.41,78.85,NaN
[кино и музыка] SPB #109,49.36,58.97,57.69,NaN,66.67,74.36,76.28,NaN

In [137]:
point_in_kim12.to_excel('median_kim.xlsx', index=True)

In [132]:
point_in_kim12.iloc[:,0].median()

65.705

In [142]:
point_in_kim12345 = pd.read_excel('median_kim.xlsx')
point_in_kim12345.head()

,Название игры,1,2,3,4,1.1,2.1,3.1,4.1
0,[кино и музыка] SPB #100,63.46,63.46,71.79,NaN,78.21,75.00,85.26,NaN
1,[кино и музыка] SPB #101,67.31,60.26,63.46,51.28,76.28,81.41,89.10,74.36
2,[кино и музыка] SPB #102,78.21,67.95,63.46,NaN,89.74,82.05,77.56,NaN
3,[кино и музыка] SPB #103,83.97,70.51,61.54,NaN,96.15,78.21,76.28,NaN
4,[кино и музыка] SPB #104,76.92,64.74,77.56,NaN,89.10,80.13,89.74,NaN

In [144]:
point_in_kim12345.mean()

C:\Users\User\AppData\Local\Temp\ipykernel_16980\948760138.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  point_in_kim12345.mean()

1      71.540698
2      70.348372
3      68.622895
4      58.252500
1.1    83.661395
2.1    83.483256
3.1    81.763947
4.1    80.288750
dtype: float64

In [149]:
point_in_kim12345.median()

C:\Users\User\AppData\Local\Temp\ipykernel_16980\2990037857.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  point_in_kim12345.median()

1      71.79
2      70.51
3      68.59
4      60.58
1.1    85.26
2.1    84.62
3.1    81.41
4.1    80.45
dtype: float64

In [147]:
print(point_in_kim12345)

               Название игры      1      2      3      4    1.1    2.1    3.1  \
0   [кино и музыка] SPB #100  63.46  63.46  71.79    NaN  78.21  75.00  85.26
1   [кино и музыка] SPB #101  67.31  60.26  63.46  51.28  76.28  81.41  89.10
2   [кино и музыка] SPB #102  78.21  67.95  63.46    NaN  89.74  82.05  77.56
3   [кино и музыка] SPB #103  83.97  70.51  61.54    NaN  96.15  78.21  76.28
4   [кино и музыка] SPB #104  76.92  64.74  77.56    NaN  89.10  80.13  89.74
5   [кино и музыка] SPB #105  73.08  69.87  67.95    NaN  82.05  83.97  88.46
6   [кино и музыка] SPB #106  78.85  58.97  69.23    NaN  87.82  75.00  76.28
7   [кино и музыка] SPB #107  71.79  74.36  67.95    NaN  84.62  80.13  78.21
8   [кино и музыка] SPB #108  75.64  66.67  62.82    NaN  87.82  81.41  78.85
9   [кино и музыка] SPB #109  49.36  58.97  57.69    NaN  66.67  74.36  76.28
10  [кино и музыка] SPB #110  75.64  72.44  77.56    NaN  80.13  88.46  88.46
11  [кино и музыка] SPB #111  71.79  65.38  62.82    NaN  81.41  76.92  76.92
12  [кино и музыка] SPB #112  67.95  71.79  57.69  59.62  75.64  78.21  81.41
13  [кино и музыка] SPB #113  65.38  64.74  65.38    NaN  72.44  75.00  83.97
14  [кино и музыка] SPB #114  64.74  62.18  73.08  62.18  80.13  87.18  85.90
15  [кино и музыка] SPB #115  75.64  81.41  51.28    NaN  87.18  86.54  87.18
16  [кино и музыка] SPB #116  70.51  76.92    NaN  50.00  87.18  82.05    NaN
17  [кино и музыка] SPB #117  57.05  82.05  70.51    NaN  61.54  91.03  82.69
18  [кино и музыка] SPB #118  66.67  66.03  66.03  63.46  85.26  79.49  83.97
19  [кино и музыка] SPB #119  65.38  73.72  83.97    NaN  75.64  84.62  92.31
20  [кино и музыка] SPB #120  64.10  53.21  57.69    NaN  83.97  80.77  76.92
21  [кино и музыка] SPB #121  73.72  75.64  69.87    NaN  89.74  84.62  79.49
22  [кино и музыка] SPB #122  67.95  73.08  74.36    NaN  87.82  85.26  92.31
23  [кино и музыка] SPB #123  60.90  67.31  63.46  52.56  88.46  79.49  82.05
24  [кино и музыка] SPB #124  57.69  76.28  72.44    NaN  80.77  86.54  75.00
25  [кино и музыка] SPB #125  70.51  66.03  69.23  61.54  82.05  80.77  75.00
26  [кино и музыка] SPB #126  75.64  81.41  69.87  65.38  85.26  86.54  73.08
27  [кино и музыка] SPB #127  66.03  64.74  63.46    NaN  82.05  76.28  71.15
28  [кино и музыка] SPB #128  69.23  74.36  62.18    NaN  74.36  85.90  71.79
29  [кино и музыка] SPB #129  80.77  74.36  79.49    NaN  92.31  84.62  90.38
30  [кино и музыка] SPB #130  89.74  83.97  80.77    NaN  94.87  89.74  87.18
31   [кино и музыка] SPB #88  74.36  71.79    NaN    NaN  88.46  85.90    NaN
32   [кино и музыка] SPB #89  83.33  68.59    NaN    NaN  89.74  81.41    NaN
33   [кино и музыка] SPB #90  76.92  71.79    NaN    NaN  82.05  85.90    NaN
34   [кино и музыка] SPB #91  62.18  72.44  54.49    NaN  72.44  88.46  76.92
35   [кино и музыка] SPB #92  69.87  76.28  83.97    NaN  80.77  88.46  87.18
36   [кино и музыка] SPB #93  75.00  73.72  70.51    NaN  87.82  84.62  86.54
37   [кино и музыка] SPB #94  76.92  76.28    NaN    NaN  85.90  88.46    NaN
38   [кино и музыка] SPB #95  78.85  68.59  76.28    NaN  91.03  78.85  81.41
39   [кино и музыка] SPB #96  71.15  60.90  67.31    NaN  86.54  92.95  71.79
40   [кино и музыка] SPB #97  75.00  69.23  66.03    NaN  92.31  89.74  80.77
41   [кино и музыка] SPB #98  79.49  68.59  79.49    NaN  89.74  87.18  91.03
42   [кино и музыка] SPB #99  77.56  83.97  75.00    NaN  83.97  96.15  78.21

      4.1
0     NaN
1   74.36
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12  89.74
13    NaN
14  82.05
15    NaN
16  73.08
17    NaN
18  76.28
19    NaN
20    NaN
21    NaN
22    NaN
23  82.05
24    NaN
25  78.85
26  85.90
27    NaN
28    NaN
29    NaN
30    NaN
31    NaN
32    NaN
33    NaN
34    NaN
35    NaN
36    NaN
37    NaN
38    NaN
39    NaN
40    NaN
41    NaN
42    NaN